html, body {
	background: #0a6458;
	margin: 0;
	
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 2;
	color: #474747;
	text-align: justify;
}
h1 {
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 5px;
}
h2 {
	font-size: 18px;
	margin-bottom: 5px;
}
h3 {
	font-size: 16px;
	text-align: left;
}

p {
	margin-bottom: 10px;
}
a {
	color: #0a6458;
	text-decoration: none;
}

pre {
	font-size: 14px;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #474747;
	background: #0a6458;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-size: 14px;;
	font-weight: bold;
}
dd {
	margin-bottom: 10px;
	margin-inline-start: 10px;
}
table {
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	border-collapse: collapse;
	border: #474747;
}
th,td{
	padding-left:20px;
	padding-right: 20px;
}
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}
header {
	padding-top: 10px;
	height: 70px;
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#0a6458;
	color: white;
}
nav{
	margin-left: 100px;
	margin-right: 80px;
}
.navbar a{
	float: left;
	text-align: center;
	width: 16.6%;
	color: white;
	font-weight: 600;
}
a:hover {
	color: #ff7ed8;	
}
section{
	padding-top: 80px;
	margin-bottom: 20px;
}
footer {
	height: 40px;
	border-top: 2px solid #0a6458;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
}
blockquote {
	font-style: italic;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}

ul{
	list-style: none;
	padding-inline-start: 0;
}